footer
  p
    strong
      | Yelp
      | Read our&nbsp;
      a(href="/privacy" target="_self") Privacy Policy

  p.smallprint
    | Some smallprint here
  p.smallprint
    | Tell the world about your business
    | Some contact info here
